#page-not-found-error-main-container {
    width: 100%;
    height: 90vh;
    background-color: rgb(25, 24, 24);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

#page-not-found-error-main-container h1 {
    font-size: 3rem;
}